@import "vars.module";

.CardComponent {
    display: inline-flex;
    background-color: $cardColor;
    text-align: center;
    margin: $cardMargin;
    flex-direction: column;
}

.likesCount {
    align-self: flex-start;
    margin: $likesCountMargin;
}

.likeButton {
    align-self: flex-end;
}

.commentsHolder {
    display: flex;
    flex-direction: column;
}

.showComments {
    align-self: flex-start;
}

.liked {
    transform: rotate(1deg);
    border: 1px solid;
}

.sortingType {

}

.bottomToolbar {
    align-self: flex-start;
}

.topToolbar {
    align-self: flex-end;
}

.deleteButton {
}