@import "vars.module";

.Comment {
    background-color: $commentColor;
    display: flex;
    margin: $commentMargin;
    flex-direction: row;
    justify-content: space-between;
}

.liked {
    transform: rotate(1deg);
}