.CardComponent {
    display: inline-flex;
    background-color: lightcoral;
    text-align: center;
    margin: 50px;
    flex-direction: column;
}

.likesCount {
    align-self: flex-start;
    margin: 30px;
}

.likeButton {
    align-self: flex-end;
}

.commentsHolder {
    display: flex;
    flex-direction: column;
}

.showComments {
    align-self: flex-start;
}