.mainHeader {
  background-color: red;
  text-align: center;
  padding: 10px;
  height: 10%;
}

.sideMenu {
  width: 30%;
  height: 100%;
  position: fixed;
  background-color: lightgreen;
  text-align: center;
}

.sideButton {
  background-color: gray;
  text-align: center;
  margin: 10px 10px 10px;
  padding: 20px;
  align-content: center;
}

.main {
  float: right;
  text-align: center;
  background-color: lightgray;
  width: 70%;
  height: 83%;
  left: 30%;
  position: fixed;
  padding-top: 20px;
  overflow-y: scroll;
}

.articleBig {
  margin: 60px;
  padding: 50px;
  background-color: yellow;
  text-align: center;
  position: relative;
}

.articleSmall {
  margin: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: yellow;
  width: 38.5%;
  position: relative;
}

.dot {
  position: absolute;
  top: -45px;
  left: -45px;
  height: 90px;
  width: 90px;
  text-align: center;
  background-color: red;
  border-radius: 50%;
}

.warAndPeace {
  padding: 30px;
  margin-bottom: 100px;
}